<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Sports Shark</title>
    </head>
    <body>
        <nav>
            <div>
                <a href="/"><h1>Market</h1></a>
                <p>A Sports Shark Market</p>
            </div>
            <ul>
                <li><a href="/">Market</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/dodajProizvod">Dodaj proizvod</a></li>
            </ul>
        </nav>

        <div class="about content">
            <h2>About Us</h2>
            <p>Bla bla bla bla bla</p>
            <p>Bla bla bla bla bla</p>
        </div>
    </body>
</html>