<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Sports Shark</title>
    </head>
    <body>
        <nav>
            <div>
                <a href="/"><h1>Market</h1></a>
                <p>A Sports Shark Market</p>
            </div>
            <ul>
                <li><a href="/">Market</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/dodajProizvod">Dodaj proizvod</a></li>
            </ul>
        </nav>

        <div class="dodajProizvod content">
           <form>
               <label for="tip">Tip:</label>
               <input type="text" id="tip" required>
               <label for="title">Naziv proizvoda:</label>
               <input type="text" id="title" required>
               <label for="opis">Opis:</label>
               <textarea id="opis"></textarea>
               <button>Submit</button>
           </form>
        </div>
      
    </body>
</html>